body {
    overflow-x: hidden;
}
.navbar{
    background-color: #1a75ff !important;
    margin-right: 10px;
    padding-left: 10px;
}

.current{
    background-color: #4d94ff !important;
}
.nav.navbar-nav li a {
    color: #003300 !important;
}.navbar-brand {
    color: #000 !important;
}
*{
    box-sizing: border-box ;
}


