.navbar-brand{
    color: #FFF !important;
}

.nav-link{
    color: #FFF !important;
}

.container{
    margin-top: 20px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.smallPicture {
    padding: 10px !important;
}

.bigPicture {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
}


.navbar{
    background-color: #1a75ff;
    margin-right: 10px;
    padding-left: 10px;
}

.current{
    background-color: #4d94ff !important;
}

.btn-primary{
    background-color: #135fd3 !important;
}

